@using Viajes.Models.DTO

<div class="modal fade" id="modalEditarUsuario" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <form asp-controller="GestionUsuarios" asp-action="Editar" method="post" id="formEditarUsuario">
                <div class="modal-header bg-warning">
                    <h5 class="modal-title">Editar Usuario</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <div id="alertaErrorEditar" class="alert alert-danger alert-dismissible fade show" style="display:none;">
                        <span id="textoErrorEditar"></span>
                        <button type="button" class="btn-close" onclick="$('#alertaErrorEditar').hide()"></button>
                    </div>

                    <div id="contenidoFormularioEditar">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="btnEditarGuardar">
                        <span class="spinner-border spinner-border-sm d-none" id="spinnerEditar" role="status"></span>
                        <span id="txtEditar">Guardar Cambios</span>
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>